name: build
on:
  push:
  workflow_dispatch:

jobs:
  build-wheel:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - run: python -m pip install --upgrade pip build
      - run: python ci/fetch_binary.py
      - run: python -m build
      - run: ls -R gnetcli_server_bin/_bin
