name: Publish to PyPI on release

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  publish:
    environment:
      name: pypi
      url: https://pypi.org/p/gnetcli_server_bin

    permissions:
      id-token: write

    runs-on: ubuntu-latest
    steps:
      - name: Download release assets
        run: |
          gh release download \
            "${{ github.event.release.tag_name }}" \
            --repo "${{ github.repository }}" \
            --dir dist/

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          verbose: true
          packages-dir: dist/
